:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 }

.show{
  background-color: black;
  color:white;

}
.hide{
  background-color: white;
  color:black;
}